In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
%matplotlib inline
plt.rcParams['figure.figsize'] = 15, 6

In [32]:
df_all = pd.read_csv("final_dataset -2.csv")
df_all.head()

,STATION,Date,TIMEINT,ENTRIES_hourly,Clear,Fog,Haze,Heavy Rain,Heavy Snow,Humidity,...,Light Freezing Rain,Light Rain,Light Snow,Mostly Cloudy,Overcast,Partly Cloudy,Rain,Scattered Clouds,Snow,Temperature
0,1 AV,2016-01-01,1,3056.0,0.00,0.0,0.0,0.0,0.0,53.50,...,0.0,0.0,0.0,0.0,1.00,0.00,0.0,0.0,0.0,41.275
1,1 AV,2016-01-01,2,1070.0,0.00,0.0,0.0,0.0,0.0,58.25,...,0.0,0.0,0.0,0.0,1.00,0.00,0.0,0.0,0.0,39.450
2,1 AV,2016-01-01,3,972.0,0.00,0.0,0.0,0.0,0.0,53.50,...,0.0,0.0,0.0,0.0,0.75,0.25,0.0,0.0,0.0,39.675
3,1 AV,2016-01-01,4,3031.0,0.00,0.0,0.0,0.0,0.0,49.25,...,0.0,0.0,0.0,0.0,1.00,0.00,0.0,0.0,0.0,39.450
4,1 AV,2016-01-01,5,3812.0,0.75,0.0,0.0,0.0,0.0,48.50,...,0.0,0.0,0.0,0.0,0.00,0.25,0.0,0.0,0.0,37.450

In [33]:
df_all["week"] = df_all.Date

In [34]:
def find_week(x):
    return datetime.datetime.strptime(x, '%Y-%m-%d').strftime('%a')
df_all.week = df_all.week.apply(find_week)
df_all.head()

,STATION,Date,TIMEINT,ENTRIES_hourly,Clear,Fog,Haze,Heavy Rain,Heavy Snow,Humidity,...,Light Rain,Light Snow,Mostly Cloudy,Overcast,Partly Cloudy,Rain,Scattered Clouds,Snow,Temperature,week
0,1 AV,2016-01-01,1,3056.0,0.00,0.0,0.0,0.0,0.0,53.50,...,0.0,0.0,0.0,1.00,0.00,0.0,0.0,0.0,41.275,Fri
1,1 AV,2016-01-01,2,1070.0,0.00,0.0,0.0,0.0,0.0,58.25,...,0.0,0.0,0.0,1.00,0.00,0.0,0.0,0.0,39.450,Fri
2,1 AV,2016-01-01,3,972.0,0.00,0.0,0.0,0.0,0.0,53.50,...,0.0,0.0,0.0,0.75,0.25,0.0,0.0,0.0,39.675,Fri
3,1 AV,2016-01-01,4,3031.0,0.00,0.0,0.0,0.0,0.0,49.25,...,0.0,0.0,0.0,1.00,0.00,0.0,0.0,0.0,39.450,Fri
4,1 AV,2016-01-01,5,3812.0,0.75,0.0,0.0,0.0,0.0,48.50,...,0.0,0.0,0.0,0.00,0.25,0.0,0.0,0.0,37.450,Fri

In [35]:
df_all_dummy = pd.get_dummies(df_all.week,prefix = '',prefix_sep='')
df_all_dummy.head()

   Fri  Mon  Sat  Sun  Thu  Tue  Wed
0    1    0    0    0    0    0    0
1    1    0    0    0    0    0    0
2    1    0    0    0    0    0    0
3    1    0    0    0    0    0    0
4    1    0    0    0    0    0    0

In [36]:
df_all = df_all.merge(df_all_dummy, right_index = True, left_index  = True, how = 'outer')
df_all.head()

,STATION,Date,TIMEINT,ENTRIES_hourly,Clear,Fog,Haze,Heavy Rain,Heavy Snow,Humidity,...,Snow,Temperature,week,Fri,Mon,Sat,Sun,Thu,Tue,Wed
0,1 AV,2016-01-01,1,3056.0,0.00,0.0,0.0,0.0,0.0,53.50,...,0.0,41.275,Fri,1,0,0,0,0,0,0
1,1 AV,2016-01-01,2,1070.0,0.00,0.0,0.0,0.0,0.0,58.25,...,0.0,39.450,Fri,1,0,0,0,0,0,0
2,1 AV,2016-01-01,3,972.0,0.00,0.0,0.0,0.0,0.0,53.50,...,0.0,39.675,Fri,1,0,0,0,0,0,0
3,1 AV,2016-01-01,4,3031.0,0.00,0.0,0.0,0.0,0.0,49.25,...,0.0,39.450,Fri,1,0,0,0,0,0,0
4,1 AV,2016-01-01,5,3812.0,0.75,0.0,0.0,0.0,0.0,48.50,...,0.0,37.450,Fri,1,0,0,0,0,0,0

In [40]:
df_all.columns

Index(['STATION', 'Date', 'TIMEINT', 'ENTRIES_hourly', 'Clear', 'Fog', 'Haze',
       'Heavy Rain', 'Heavy Snow', 'Humidity', 'Light Freezing Fog',
       'Light Freezing Rain', 'Light Rain', 'Light Snow', 'Mostly Cloudy',
       'Overcast', 'Partly Cloudy', 'Rain', 'Scattered Clouds', 'Snow',
       'Temperature', 'week', 'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'],
      dtype='object')

In [47]:
df = df_all.copy()
df.head()

,STATION,Date,TIMEINT,ENTRIES_hourly,Clear,Fog,Haze,Heavy Rain,Heavy Snow,Humidity,...,Snow,Temperature,week,Fri,Mon,Sat,Sun,Thu,Tue,Wed
0,1 AV,2016-01-01,1,3056.0,0.00,0.0,0.0,0.0,0.0,53.50,...,0.0,41.275,Fri,1,0,0,0,0,0,0
1,1 AV,2016-01-01,2,1070.0,0.00,0.0,0.0,0.0,0.0,58.25,...,0.0,39.450,Fri,1,0,0,0,0,0,0
2,1 AV,2016-01-01,3,972.0,0.00,0.0,0.0,0.0,0.0,53.50,...,0.0,39.675,Fri,1,0,0,0,0,0,0
3,1 AV,2016-01-01,4,3031.0,0.00,0.0,0.0,0.0,0.0,49.25,...,0.0,39.450,Fri,1,0,0,0,0,0,0
4,1 AV,2016-01-01,5,3812.0,0.75,0.0,0.0,0.0,0.0,48.50,...,0.0,37.450,Fri,1,0,0,0,0,0,0

In [51]:
conditions = df.drop(['Date', 'STATION', 'TIMEINT', 'ENTRIES_hourly', 'Temperature', 'Humidity','week', 'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'],axis=1).columns
conditions

Index(['Clear', 'Fog', 'Haze', 'Heavy Rain', 'Heavy Snow',
       'Light Freezing Fog', 'Light Freezing Rain', 'Light Rain', 'Light Snow',
       'Mostly Cloudy', 'Overcast', 'Partly Cloudy', 'Rain',
       'Scattered Clouds', 'Snow'],
      dtype='object')

In [53]:
df['Rain'] =df['Rain'] + df['Heavy Rain'] + df['Light Rain'] + df['Light Freezing Rain']
df['Snow'] =df['Snow'] + df['Heavy Snow'] + df['Light Snow']
df['Cloudy'] = (df['Partly Cloudy'] + df['Scattered Clouds'] + df['Mostly Cloudy']
                + df['Overcast'] + df['Fog'] + df['Haze'] + df['Light Freezing Fog'])

# Get rid of columns that we don't want
df = df.drop([c for c in conditions if c not in ['Rain', 'Snow', 'Cloudy', 'Clear']],axis=1)
df.head()

,STATION,Date,TIMEINT,ENTRIES_hourly,Clear,Humidity,Rain,Snow,Temperature,week,Fri,Mon,Sat,Sun,Thu,Tue,Wed,Cloudy
0,1 AV,2016-01-01,1,3056.0,0.00,53.50,0.0,0.0,41.275,Fri,1,0,0,0,0,0,0,1.00
1,1 AV,2016-01-01,2,1070.0,0.00,58.25,0.0,0.0,39.450,Fri,1,0,0,0,0,0,0,1.00
2,1 AV,2016-01-01,3,972.0,0.00,53.50,0.0,0.0,39.675,Fri,1,0,0,0,0,0,0,1.00
3,1 AV,2016-01-01,4,3031.0,0.00,49.25,0.0,0.0,39.450,Fri,1,0,0,0,0,0,0,1.00
4,1 AV,2016-01-01,5,3812.0,0.75,48.50,0.0,0.0,37.450,Fri,1,0,0,0,0,0,0,0.25

In [54]:
# Model OLS, WLS
import statsmodels.formula.api as smf

In [55]:
df.columns

Index(['STATION', 'Date', 'TIMEINT', 'ENTRIES_hourly', 'Clear', 'Humidity',
       'Rain', 'Snow', 'Temperature', 'week', 'Fri', 'Mon', 'Sat', 'Sun',
       'Thu', 'Tue', 'Wed', 'Cloudy'],
      dtype='object')

In [59]:
lm = smf.ols(formula = 'ENTRIES_hourly ~ Clear + Humidity + Rain + Snow + Temperature + Cloudy', data = df).fit()
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         ENTRIES_hourly   R-squared:                       0.013
Model:                            OLS   Adj. R-squared:                  0.013
Method:                 Least Squares   F-statistic:                     1661.
Date:                Thu, 14 Dec 2017   Prob (F-statistic):               0.00
Time:                        23:49:24   Log-Likelihood:            -7.2950e+06
No. Observations:              750098   AIC:                         1.459e+07
Df Residuals:                  750091   BIC:                         1.459e+07
Df Model:                           6
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept    2898.3527     33.694     86.019      0.000    2832.313    2964.393
Clear         -39.9874     26.195     -1.527      0.127     -91.329      11.354
Humidity      -28.6141      0.313    -91.486      0.000     -29.227     -28.001
Rain          644.5343     21.432     30.073      0.000     602.528     686.540
Snow          197.2586     37.749      5.225      0.000     123.271     271.246
Temperature    13.7811      0.277     49.719      0.000      13.238      14.324
Cloudy        469.9080     26.673     17.617      0.000     417.630     522.186
==============================================================================
Omnibus:                   758407.649   Durbin-Watson:                   0.769
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         43955359.115
Skew:                           5.090   Prob(JB):                         0.00
Kurtosis:                      39.094   Cond. No.                         928.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [60]:
lm1 = smf.ols(formula = 'ENTRIES_hourly ~ Clear + Humidity + Rain + Snow + Temperature + Fri + Mon + Sat + Sun + Thu + Tue + Wed', data = df).fit()
print(lm1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         ENTRIES_hourly   R-squared:                       0.032
Model:                            OLS   Adj. R-squared:                  0.032
Method:                 Least Squares   F-statistic:                     2240.
Date:                Thu, 14 Dec 2017   Prob (F-statistic):               0.00
Time:                        23:50:31   Log-Likelihood:            -7.2878e+06
No. Observations:              750098   AIC:                         1.458e+07
Df Residuals:                  750086   BIC:                         1.458e+07
Df Model:                          11
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept    1.002e+11   8.78e+12      0.011      0.991   -1.71e+13    1.73e+13
Clear        -433.8648     12.176    -35.632      0.000    -457.730    -409.999
Humidity      -27.9310      0.308    -90.617      0.000     -28.535     -27.327
Rain          438.6171     16.987     25.821      0.000     405.324     471.910
Snow          163.3759     34.737      4.703      0.000      95.293     231.459
Temperature    13.0282      0.274     47.587      0.000      12.492      13.565
Fri         -1.002e+11   8.78e+12     -0.011      0.991   -1.73e+13    1.71e+13
Mon         -1.002e+11   8.78e+12     -0.011      0.991   -1.73e+13    1.71e+13
Sat         -1.002e+11   8.78e+12     -0.011      0.991   -1.73e+13    1.71e+13
Sun         -1.002e+11   8.78e+12     -0.011      0.991   -1.73e+13    1.71e+13
Thu         -1.002e+11   8.78e+12     -0.011      0.991   -1.73e+13    1.71e+13
Tue         -1.002e+11   8.78e+12     -0.011      0.991   -1.73e+13    1.71e+13
Wed         -1.002e+11   8.78e+12     -0.011      0.991   -1.73e+13    1.71e+13
==============================================================================
Omnibus:                   756557.856   Durbin-Watson:                   0.786
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         43985194.608
Skew:                           5.066   Prob(JB):                         0.00
Kurtosis:                      39.120   Cond. No.                     4.49e+14
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.61e-20. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [71]:
lm2 = smf.ols(formula = 'ENTRIES_hourly ~ Clear + Humidity + Rain +  Temperature ', data = df).fit()
print(lm2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         ENTRIES_hourly   R-squared:                       0.013
Model:                            OLS   Adj. R-squared:                  0.013
Method:                 Least Squares   F-statistic:                     2412.
Date:                Thu, 14 Dec 2017   Prob (F-statistic):               0.00
Time:                        23:53:20   Log-Likelihood:            -7.2952e+06
No. Observations:              750098   AIC:                         1.459e+07
Df Residuals:                  750093   BIC:                         1.459e+07
Df Model:                           4
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept    3297.9669     24.694    133.551      0.000    3249.567    3346.367
Clear        -446.7139     12.170    -36.708      0.000    -470.566    -422.862
Humidity      -28.0135      0.308    -90.971      0.000     -28.617     -27.410
Rain          420.1722     17.046     24.649      0.000     386.762     453.582
Temperature    13.4665      0.271     49.672      0.000      12.935      13.998
==============================================================================
Omnibus:                   758446.796   Durbin-Watson:                   0.769
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         43959276.943
Skew:                           5.090   Prob(JB):                         0.00
Kurtosis:                      39.095   Cond. No.                         459.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.